{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="wrapper my-5">
    <div class="container">
        <div class="presentation">
            <h2 class="mb-3">Quelques voyages</h2>
            {% if posts | length == 0 %}
            <i>Aucun voyage publié</i>
            {% else%}
            <div class="row align-items-center">
                {% for post in posts %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card">
                        {% if post.images | length %}
                        <img height="200" style="object-fit: cover;"
                            src="{{ asset('assets/images/post/') ~ post.images[0].filePath }}" alt="image">
                        {% endif %}
                        <div class="card-body">
                            <span class="badge d-block"
                                style="width: fit-content; background-color: {{post.category.color}} ">{{post.category.label}}</span>
                            <h5 class="card-title text-truncate">{{ post.title }}</h5>
                            <p class="card-text text-truncate">{{ post.content }}</p>
                            <a href="/post/{{post.id}}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}