{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="wrapper">
    {% if post.images | length %}
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {% for image in post.images %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img src="{{ asset('assets/images/post/') ~ image.filePath }}" alt="image">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}
    <div class="container">
        {% if app.user is defined and app.user.roles[0] is defined and app.user.roles[0] == 'ROLE_ADMIN' %}
        <a href="/post/{{post.id}}/edit" class="btn btn-primary my-3">Modifier</a>
        {% endif %}
        <div class="my-3">
            <span class="badge d-block"
                style="width: fit-content; background-color: {{post.category.color}} ">{{post.category.label}}</span>
            <h1>{{post.title}}</h1>
            <p style="white-space: pre-line;"> {{post.content}} </p>
        </div>
    </div>
</div>

{% endblock %}